.profilebox{
    margin-top: -70px;
    display: flex;
    justify-content: center;
  }
  .profile{
    max-width: 155px;
    max-height: 155px;
    height: 150px;
    width: 150px;
    //background-color: white;
    border-radius: 50%;
    padding: 6px;
  }
  td{
  
    margin: 10px;
  }